.navbar {
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
    
}

.navbar-nav li a{
    text-transform: uppercase;
}

.imagemLogo {
    width: 300px;
    height: 95px;      
}

#contato{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;    
}

#planos {
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;  
}

.btn-fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    color: rgb(0, 128, 255);
    border: 1px solid black;
}

.btn-fixed.visible {
    visibility: visible;
}

#cms {
    border: 1px solid black;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-right: 6px;    
}

#historia {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 33px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }